@model EVA3AJAX.Models.Herramienta
@{
    ViewData["Title"] = "Editar";
}
<h1 class="text-primary">Editar Herramienta</h1>
<h4>Detalles de la Herramienta</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Edit" class="p-4 border rounded shadow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Modelo" class="control-label">Modelo</label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="IdMarca" class="control-label">Marca</label>
                <select asp-for="IdMarca" class="form-control" asp-items="ViewBag.Marcas">
                    <option value="" selected>Seleccionar Marca</option>
                </select>
                <span asp-validation-for="IdMarca" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CantidadTotal" class="control-label">Cantidad Total</label>
                <input asp-for="CantidadTotal" class="form-control" />
                <span asp-validation-for="CantidadTotal" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Disponibles" class="control-label">Disponibles</label>
                <input asp-for="Disponibles" class="form-control" />
                <span asp-validation-for="Disponibles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
